* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  padding: 0.5em;
  background: #eef0c8;
  margin: 0;
  text-align: center;
}

.main {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
  border: none;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  width: 70%;
  margin-right: 10px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  background: #ff6565;
  color: #fff;
  cursor: pointer;
}

button.incomplete-button {
  background-color: #858585;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

li p {
  margin: 0;
  margin-left: 10px;
  flex: 1;
  font-size: 16px;
}

.add-item-area {
  background: #e7e7e7;
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
}

.item-area-incomplete {
  background: #edffe5;
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
}

.item-area-incomplete .ttl {
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  margin: 0;
  background: black;
  padding: 10px;
  text-align: center;
}

.item-area-incomplete button {
  flex: 0 0 80px;
  margin-left: auto;
}

.item-area-complete {
  background: #fff3e3;
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
}

.item-area-complete .ttl {
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  margin: 0;
  background: blue;
  padding: 10px;
  text-align: center;
}

.item-area-complete button {
  flex: 0 0 80px;
  margin-left: auto;
}


@media (max-width: 600px) {
  .main {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
  }

  input {
    width: 60%;
    margin-bottom: 10px;
  }
  
  button {
    font-size: 14px;
    padding: 8px 16px;
  }
  
  li p {
    font-size: 14px;
  }
  
  .add-item-area,
  .item-area-incomplete,
  .item-area-complete {
    margin: 10px 0;
    padding: 5px;
  }
  
  .item-area-incomplete .ttl,
  .item-area-complete .ttl {
    font-size: 14px;
    padding: 5px;
  }
  
  .item-area-incomplete button,
  .item-area-complete button {
    flex: 0 0 60px;
  }
}
